<h1>NewPost</h1>

<form action="/newPost" method="POST" id="newpost">
	<input type="text" name="title"
		placeholder="title">
	<button>submit</button>
</form>

<textarea name="text" id="" cols="50" rows="4" form="newpost"></textarea>