<meta charset="UTF-8">
<title>weblog</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-light" href="/register">
                    <li class=" btn btn-success">Sign up!!</li></a>
              </li>  
              <li class="nav-item">
                <a class="nav-link text-light" href="/login"><li class=" btn btn-warning">Login</li></a>
              </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/logout"><li class=" btn btn-danger">Logout</li></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<h1 class="bg-success text-center text-light" >hello to your panal </h1>
<div class="bg-info d-flex flex-column align-content-center justify-content-center">
    <a class=" text-center display-6" href="/showpost">Showpost</a>
<a class="link-dark  text-center display-6" href="/newPost">NewPost</a>
</div>